input {
    border-radius: 6px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    // height: 30px;
    font-size: 18px;
    text-align: right;
    outline: none;
    padding: 1rem .5rem;
    // padding-right: .5rem;
}

input:disabled{
    background-color: #E0E0E0;
}

.code-input {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 6px;
    
    // height: 30px;
    
    padding: 0.2rem 0;
    align-items: center;

    input{
        flex-grow: 2;
        border: none;
        padding: 0 .5rem;
        width: 65%;
        outline-color: #2F80ED;
    }

    input:focus {
        outline: none;
    }

    button{
        background-color: #2D9CDB;
        color: white;
        border-style: none;
        border-radius: 6px;
        height: 80%; 
        width: 35%;
        margin-left: 1%;
        font-size: 12px;
        padding: 1rem 0 ;

    }

    button:disabled {
        background-color: #828282;
    }
}

.selected-input {
    
    padding: .4rem;
    background: #2F80ED;
    color: white;
    font-size: small;
    width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-left: .3rem;
    margin-bottom: .3rem;

    svg{
        padding-right: 1rem;
    }
}